[Unit]
Description=nodepoold Service
After=syslog.target network.target

[Service]
Type=simple
User=nodepool
Group=nodepool
EnvironmentFile=-/etc/default/nodepool
ExecStart=/bin/sh -c "${PREFIX}/bin/nodepoold -d --no-launches --no-webapp -l /etc/nodepool/nodepool-deleter_logging.conf"

[Install]
WantedBy=multi-user.target
