secrets:
  db_password: changeme
  nodepool:
    db_user: nodepool
    db_password: changeme
  datadog:
    api_key: demokeyhash
    ansible_app_key: demoapphash
    mysql_password: demomysqlpass
  clouds:
    bastioncloud:
      auth:
        auth_url: http://devstack.local/identity_admin
        username: bastion
        user_domain_id: default
        project_name: bastion
        project_domain_id: default
        password: password
      identity_api_version: '3'
      region_name: RegionOne
    cicloud:
      auth:
        auth_url: http://devstack.local/identity_admin
        username: demo
        user_domain_id: default
        project_name: demo
        project_domain_id: default
        password: password
      identity_api_version: '3'
      region_name: RegionOne
