secrets:
  quartermaster:
    admins: nick!~username@domain.org
    nickserv_pass: nickserv_pass
    default_channel: "#BonnyCI-errbot"
    nickname: "errbot-qm"
    standup_settings:
      database_path: /var/lib/quartermaster/plugins/standup.sqlite
      local_notification_hour: 10
      timezones:
        - timezone: 'Australia/Sydney'
          users:
            - aussieuser
        - timezone: 'America/New_York'
          users:
            - eastcoastuser
        - timezone: 'America/Los_Angeles'
          users:
            - westcoastuser1
            - westcoastuser2
  db_password: changeme
  nodepool:
    db_user: nodepool
    db_password: changeme
  datadog:
    api_key: demokeyhash
    ansible_app_key: demoapphash
    mysql_password: demomysqlpass
  clouds:
    bastioncloud:
      auth:
        auth_url: http://devstack.local/identity_admin
        username: bastion
        user_domain_id: default
        project_name: bastion
        project_domain_id: default
        password: password
      identity_api_version: '3'
      region_name: RegionOne
    cicloud:
      auth:
        auth_url: http://devstack.local/identity_admin
        username: demo
        user_domain_id: default
        project_name: demo
        project_domain_id: default
        password: password
      identity_api_version: '3'
      region_name: RegionOne
  zuul_github_api_key: demokey
  zuul_github_webhook_token: webhooksigner
  ssh_keys:
    cideploy:
      private: |
        -----BEGIN RSA PRIVATE KEY-----
        MIICXQIBAAKBgQDoitDW0TOltJtxOLZWlT6SP/5dAtsewCqvAugyOGLsNBnWCqtw
        4LWWWKgch4ugPsLYTowEtW5mn/6e4A+OjCDB/zsunXJxxLhySRldChXWwrjnwfAv
        hgt7KIPG35SuKXjkb4DX0NhI8qytRwz+tq9Xf5hTUKb8o5t6PS56vqiBkQIDAQAB
        AoGATwX1aDrZgUM526T5Gb1H8S08BGGXEwEcwDKNs5tDyp799KXVkttZ+giQwHkz
        crZBQn6WyHbbWJagUV81Ci0GaCCckpI9maGNgr6iui9gAfwO7eOh99htL7hZCxRI
        y7SVLwFcF1D7+299cSVGLWSYjrdwrDU3AXQlxkcUO4N285ECQQD9+ix0lh4X+3ha
        TOFfRb98cphhNcsOF/1386dLlCV0MMk5zQL9mFBsiRY44Wu6pV97/UP8SR00VpkG
        35aNiUodAkEA6mTwYR00biLT+bOt7sSI15HL/HX7SXFkOP9C6McGmyHhIcfqm17R
        Y+6XhLZJDYL1ivDNrDgAV6f7lTP/kH0bBQJBAJBFSHOBwt6Err085tkj2b5rqjuu
        PwZmgkldUy8PnKb//46h8ozztNuyk7kD9Bo2TqM0HyZ0se5FMvBAmlkUH9ECQHo8
        /eeHlYpCe43jmLfGox7ZGCqnVM9uZTgcV0aSVO2ec4xsd/tjLYwSJ868ScjUHT3C
        a2B/LB6KqnebUJKHzAkCQQD0h1vkS3dkVnuKyKfl1l74orUFZ4IUqw+s66IOoGS1
        WhEKnpGyv9bLDvLuQEOVzd+l5gqkfZk/qeePlTaIbvdl
        -----END RSA PRIVATE KEY-----
      public: >
        ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAAAgQDoitDW0TOltJtxOLZWlT6SP/5dAtsewCqvAugyOGLsNBnWCqtw4LWWWKgch4ugPsLYTowEtW5mn/6e4A+OjCDB/zsunXJxxLhySRldChXWwrjnwfAvhgt7KIPG35SuKXjkb4DX0NhI8qytRwz+tq9Xf5hTUKb8o5t6PS56vqiBkQ== testing
    nodepool:
      private: |
        -----BEGIN RSA PRIVATE KEY-----
        a private ssh key goes here
        -----END RSA PRIVATE KEY-----
      public: >
        ssh-rsa a public ssh key goes here nodepool@nodepoop
    zuul:
      private: |
        -----BEGIN RSA PRIVATE KEY-----
        a private ssh key goes here
        -----END RSA PRIVATE KEY-----
      public: >
        ssh-rsa a public ssh key goes here zuul@zuul
    backup:
      private: |
        -----BEGIN RSA PRIVATE KEY-----
        a private ssh key goes here
        -----END RSA PRIVATE KEY-----
      public: >
        ssh-rsa a public ssh key goes here backup@backups
  letsencrypt:
    account_key: |
      -----BEGIN RSA PRIVATE KEY-----
      ThisIsNotARealKey
      -----END RSA PRIVATE KEY-----
