[defaults]
# This directory is required to store temporary files for Ansible and ARA
local_tmp = /var/www/ara/.ansible/tmp

[ara]
database = "mysql+pymysql://{{ ara_db_username }}:{{ ara_db_password }}@{{ ara_db_host }}/ara"
dir = /var/www/ara/.ara
