[Unit]
Description={{ item }} Service
After=syslog.target network.target

[Service]
Type=simple
User=zuul
Group=zuul
LimitNOFILE=8192
EnvironmentFile=-/etc/default/{{ item }}
ExecStart={{ zuul_venv_dir }}/bin/{{ item }} -d
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
