# {{ ansible_managed }}

elements-dir: /etc/nodepool/elements
images-dir: /opt/nodepool/images
script-dir: /etc/nodepool/scripts

gearman-servers:
  - host: 127.0.0.1
    port: 4730

diskimages:
  - name: ubuntu-trusty
    elements:
      - ubuntu-minimal
      - vm
      - simple-init
      - growroot
    release: trusty
  - name: ubuntu-xenial
    elements:
      - ubuntu-minimal
      - vm
      - simple-init
      - growroot
    release: xenial

labels:
  - name: ubuntu-trusty
    image: ubuntu-trusty
    min-ready: 1
    providers:
      - name: cicloud
  - name: ubuntu-xenial
    image: ubuntu-xenial
    min-ready: 1
    providers:
      - name: cicloud

providers:
  - name: cicloud
    cloud: cicloud
    max-servers: 10
    images:
      - name: ubuntu-trusty
        min-ram: 2048
        diskimage: ubuntu-trusty
        private-key: /var/lib/nodepool/.ssh/id_rsa
      - name: ubuntu-xenial
        min-ram: 2048
        diskimage: ubuntu-xenial
        private-key: /var/lib/nodepool/.ssh/id_rsa

targets:
  - name: zuul
    assign-via-gearman: True
