# {{ ansible_managed }}

elements-dir: /etc/nodepool/elements
images-dir: /opt/nodepool/images
script-dir: /etc/nodepool/scripts

gearman-servers: []

zmq-publishers: []

diskimages: []

labels: []

providers: []

targets: []
