[Unit]
Description=nodepool-builder Service
After=syslog.target network.target

[Service]
Type=simple
User=nodepool
Group=nodepool
EnvironmentFile=-/etc/default/nodepool
ExecStart={{ nodepool_venv_path }}/bin/nodepool-builder -d -l /etc/nodepool/nodepool-builder_logging.conf

[Install]
WantedBy=multi-user.target
