[Unit]
Description={{ item }} Service
After=syslog.target network.target

[Service]
Type=simple
User=nodepool
Group=nodepool
EnvironmentFile=-/etc/default/{{ item }}
ExecStart=/bin/sh -c "${PREFIX}/bin/{{ item }} -d ${ARGS} -l /etc/nodepool/{{ item }}_logging.conf"

[Install]
WantedBy=multi-user.target
