[Unit]
Description=nodepoold Service
After=syslog.target network.target

[Service]
Type=simple
User=nodepool
Group=nodepool
EnvironmentFile=-/etc/default/nodepool
{% if nodepool_zuul_v3 %}
ExecStart={{ nodepool_venv_path }}/bin/nodepoold -d -l /etc/nodepool/nodepoold_logging.conf
{% else %}
ExecStart={{ nodepool_venv_path }}/bin/nodepoold -d --no-deletes --no-launches -l /etc/nodepool/nodepoold_logging.conf
{% endif %}

[Install]
WantedBy=multi-user.target
