[Unit]
Description=nodepoold Service
After=syslog.target network.target

[Service]
Type=simple
User=nodepool
Group=nodepool
EnvironmentFile=-/etc/default/nodepool
ExecStart={{ nodepool_venv_path }}/bin/nodepoold -d --no-deletes --no-launches -l /etc/nodepool/nodepoold_logging.conf

[Install]
WantedBy=multi-user.target
