- name: install required packages
  apt:
    name: "{{ item }}"
  with_items:
    - debootstrap
    - qemu-utils
    - curl
    - uuid-runtime
    - parted
    - kpartx

- name: Create group.
  group:
    name: nodepool

- name: Create user.
  user:
    createhome: yes
    group: nodepool
    home: /var/lib/nodepool
    name: nodepool

- name: Create nodepool dirs
  file:
    group: nodepool
    owner: nodepool
    state: directory
    path: "{{ item }}"
    mode: 0755
  with_items:
    - /etc/nodepool
    - /opt/nodepool/images
    - /var/log/nodepool

- name: Create nodepool's ~/.ssh
  file:
    group: nodepool
    owner: nodepool
    state: directory
    path: /var/lib/nodepool/.ssh/
    mode: 0700

- name: Install nodepool private ssh key
  copy:
    dest: /var/lib/nodepool/.ssh/id_rsa
    content: "{{ secrets.ssh_keys.nodepool.private }}"
    owner: nodepool
    group: nodepool
    mode: 0600

- name: Install nodepool public ssh key
  copy:
    dest: /var/lib/nodepool/.ssh/id_rsa.pub
    content: "{{ secrets.ssh_keys.nodepool.public }}"
    owner: nodepool
    group: nodepool
    mode: 0644

- name: Install nodepool slave authorized_keys
  template:
    src: etc/nodepool/slave-authorized-keys
    dest: /etc/nodepool/slave-authorized-keys
    owner: nodepool
    group: nodepool
    mode: 0644

- name: Ensure clouds.yaml directory
  file:
    path: /var/lib/nodepool/.config/openstack
    state: directory
    owner: nodepool
    group: nodepool

- name: Write clouds.yaml
  template:
    src: var/lib/nodepool/config/openstack/clouds.yaml
    dest: /var/lib/nodepool/.config/openstack/clouds.yaml
    owner: nodepool
    group: nodepool
    mode: 0600

- name: install nodepool sudoers file (for DIB builds)
  copy:
    dest: /etc/sudoers.d/99_nodepool_suoders
    mode: 0400
    owner: root
    content: "nodepool ALL=(ALL) NOPASSWD:ALL"

# This should be maintained in a project-config repo.
- name: Copy nodepool configuration
  synchronize:
    src: files/etc/nodepool/
    dest: /etc/nodepool/
    rsync_opts:
      - "--chown=nodepool:nodepool"

- name: Write config
  template:
    src: "etc/nodepool/{{ item }}"
    dest: "/etc/nodepool/{{ item }}"
    owner: root
    group: nodepool
    mode: 0640
  with_items:
    - nodepool.yaml
    - secure.conf
  notify:
    - Restart nodepool builder

- name: Install datadog logging library
  pip:
    name: git+https://github.com/BonnyCI/datadog-logging.git#egg=datadog-logging
    state: latest
    virtualenv: "{{ nodepool_venv_path }}"
  when: nodepool_use_datadog_logging

- name: Install init config
  template:
    src: etc/default/nodepool
    dest: /etc/default/nodepool
    owner: root
    group: root
    mode: 0644
  notify:
    - Restart nodepool

- include: nodepool_v2.yml
  when: "{{ not nodepool_zuul_v3 }}"

- include: nodepool_v3.yml
  when: "{{ nodepool_zuul_v3 }}"
