[Unit]
Description=tailon log viewer
After=syslog.target network.target

[Service]
Type=simple
User=www-data
Group=www-data
ExecStart=/bin/sh -c "/opt/tailon/bin/tailon -f $(find /var/www/html/cron-logs/ -type f -name '*.log' -exec echo -n '{} ' \;)"

[Install]
WantedBy=multi-user.target
