[Unit]
Description=Quartermaster %i Service
After=syslog.target network.target

[Service]
Type=simple
User={{ quartermaster_user }}
Group={{ quartermaster_group }}
ExecStart={{ quartermaster_venv_dir }}/bin/errbot -c {{ quartermaster_config_dir }}/config.py

[Install]
DefaultInstance=quartermaster
WantedBy=multi-user.target
